#tit1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#container {
    width: 800px;
    height: 800px;
    color: rgb(255, 255, 255);
    font-family: unset;
    background-color: rgba(43, 4, 4, 0.479);
    margin-left: auto;
    margin-right: auto;
}
strong {
    color: rgb(100, 100, 204);
}

h4 {
    color: rgb(255, 198, 198);
}