#tit1 {
    color: magenta;
}
#container {
    width: 800px;
    height: 400px;
    color: rgb(0, 0, 0);
    font-family: unset;
    background-color: rgba(0, 255, 255, 0.062);
    margin-left: auto;
    margin-right: auto;
}