#tit1 {
    color: rgb(255, 0, 0);
    font-size: 30px;
}

#container {
    width: 800px;
    height: 600px;
    color: rgb(248, 136, 136);
    font-family: unset;
    background-color: rgb(232, 255, 242);
    margin-left: auto;
    margin-right: auto;
}

option {
    color: black;
}